atomicwrites==1.1.5
attrs==18.1.0
click==6.7
decorator==4.3.0
flake8==3.5.0
Flask==1.0.2
flask-marshmallow==0.9.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.9.0
infinity==1.4
intervals==0.8.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
marshmallow==2.15.3
mccabe==0.6.1
mimesis==2.1.0
more-itertools==4.2.0
pluggy==0.6.0
psycopg2==2.7.5
py==1.5.4
pycodestyle==2.3.1
pyflakes==1.6.0
pytest==3.6.3
selenium==3.13.0
six==1.11.0
SQLAlchemy==1.2.10
SQLAlchemy-Utils==0.33.3
validators==0.12.2
Werkzeug==0.14.1
WTForms==2.2.1
WTForms-Alchemy==0.16.7
WTForms-Components==0.10.3
