<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To do list app</title>
</head>
<body>
    <h1> To do list </h1>
    <div>
        <form action="{{ url_for('add') }}" method="POST">
        <p>Add a new todo item:
        <input type="text" name="item-to-do"></p>
            <p>add some details:
                <input type="text" name="details-to-do"></p>
        <input type="submit" value="Add!">
        </form>
    </div>
    <div>
        <h2>Items to do</h2>
        <u1>
            {% for todo in incomplete %}
            <li style="font-size: 30pt">{{ todo.text }} <a href="{{ url_for('complete', id=todo.id) }}">Done!</a></li>
                <li style="font-size: 15pt">{{ details.text }}</li>
            {% endfor %}
        </u1>
    </div>
    <div>
        <h2>Items already done</h2>
        <u1>
            {% for element in complete %}
            <li style="font-size: 25pt">{{ element.text }}</li>
            {% endfor %}
        </u1>
    </div>
</body>
</html>